DATABASE_URL=postgresql+asyncpg://ustbite_user:CHANGE_ME@ustbite-ai-agent-service-postgres.ustbite-data.svc.cluster.local:5432/ustbite_aiagent_db
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
SERVICE_NAME=ustbite-ai-agent-service
SERVICE_PORT=8009
LOG_LEVEL=INFO
SECRET_KEY=changeme